/* Color Variables */
:root {
  --primary-color: #2D3250;    /* 1st rank - majority color */
  --secondary-color: #424769;  /* 2nd rank - secondary color */
  --tertiary-color: #7077A1;   /* 3rd rank - accent color */
  --quaternary-color: #F6B17A; /* 4th rank - minor space color */
}

.recent-files-container {
  padding: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: #F5EDED;
  font-weight: bolder;
  font-size: 40px;
}

.fetch-files-button {
  display: block;
  width: 20%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bolder;
  font-size: 20px;
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  border: 1px solid var(--quaternary-color);
}

.fetch-files-button:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border: none;
}

.loading, .error-message, .no-files {
  text-align: center;
  color: var(--tertiary-color);
  margin-top: 20px;
}

.error-message {
  color: red;
}

.file-table {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.file-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.file-name {
  flex: 1;
  text-align: left;
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  border: none;
  color: var(--quaternary-color);
  cursor: pointer;
}

.study-button {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  transition: background-color 0.3s ease;
}

.study-button:hover {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
}
