/* Default light theme */
:root {
    --background-color: #F5EDED;  /* quartenary color */
    --header-background: #6482AD;  /* primary color */
    --sidebar-background: #7FA1C3;  /* secondary color */
    --feature-item-background: #E2DAD6;  /* tertiary color */
    --cta-button-background: #DFD3C3;  /* secondary color */
    --cta-button-hover-background: #C8B8A8;  /* primary color */
    --footer-background: #6482AD;  /* primary color */
    --footer-text-color: #E2DAD6;  /* tertiary color */
    --recent-files-color: #E2DAD6;  /* tertiary color */
    --recent-files-hover-color: #6482AD;  /* primary color */
    --switch-slider-background: #7FA1C3;  /* secondary color */
    --switch-slider-before-background: #F5EDED;  /* quartenary color */
    --text-color: #3b3a3a;  /* Use a neutral color for text */
}

/* Dark theme */
body.dark-theme {
    --background-color: #f5f5f5;
    --header-background: #070F2B;
    --sidebar-background: #424769;
    --feature-item-background: #2D3250;
    --cta-button-background: #9290C3;
    --cta-button-hover-background: #535C91;
    --footer-background: #070F2B;
    --footer-text-color: #787776;
    --recent-files-color: #F6B17A;
    --recent-files-hover-color: #070F2B;
    --switch-slider-background: #73C0FC;
    --switch-slider-before-background: #e8e8e8;
    --text-color: rgb(88, 84, 84)919;
    /* --background-color: #121212;
    --header-background: #1e1e1e;
    --sidebar-background: #333;
    --feature-item-background: #444;
    --cta-button-background: #333;
    --cta-button-hover-background: #555;
    --footer-background: #1e1e1e;
    --footer-text-color: #ccc;
    --recent-files-color: #F6B17A;
    --recent-files-hover-color: #e0e0e0;
    --switch-slider-background: #555;
    --switch-slider-before-background: #333;
    --text-color: #e0e0e0; */
    
}

/* General Body Styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial, sans-serif';
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Main Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99vw;
    height: 100vh;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

/* Header Styling */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: var(--header-background);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo {
    font-size: 1.5em;
    color: #FFFFFF; /* White for contrast */
    margin-top: 12px;
}

/* Navigation Links */
.nav-link {
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: var(--recent-files-color); /* Accent Color */
    margin-top: 12px;
    transition: color 0.3s, transform 0.3s;
}
/* Hover effect for nav links */
.nav-link:hover {
    color: var(--cta-button-hover-background); /* Color change on hover */
    transform: scale(1.1); /* Enlarge the link on hover */
}
/* Container Styling */
.speech-container {
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--feature-item-background);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading Style */
  .speech-container h2 {
    text-align: center;
    color: var(--header-background);
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  /* Paragraph Style */
  .speech-container p {
    text-align: center;
    color: var(--text-color);
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  /* Main Content Style */
  .speech-main-content {
    padding: 15px;
    background-color: var(--cta-button-background);
    border: 1px solid var(--feature-item-background);
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 100px;
    min-width: 500px;
    margin-bottom: 20px;
    word-wrap: break-word;
    color: var(--text-color);
  }
  
  /* Button Container Style */
  .speech-btn-style {
    text-align: center;
  }
  
  /* Button Styling */
  .speech-btn-style button {
    background-color: var(--cta-button-background);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  /* Button Hover Effect */
  .speech-btn-style button:hover {
    background-color: var(--cta-button-hover-background);
    transform: scale(1.05);
  }
  
  /* Button Active Effect */
  .speech-btn-style button:active {
    background-color: var(--cta-button-background);
    transform: scale(1);
  }

/* Sidebar Styling */
.sidebar {
    position: fixed;
    top: 0;
    left: -350px;
    height: 100%;
    width: 250px;
    background-color: var(--sidebar-background);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow-y: auto;
    transition: left 0.3s ease, box-shadow 0.3s ease;
}

.sidebar.active .nav-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 12px 20px;
    color: #FFFFFF; /* White for contrast */
    background-color: #7077A1; /* Tertiary Color */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar.active .nav-link:hover {
    background-color: var(--feature-item-background);
    color: white;
}

.sidebar.active .close-btn {
    font-size: 1.8em;
    color: #FFFFFF; /* White for contrast */
    cursor: pointer;
    text-align: left;
    margin-bottom: 20px;
    transition: color 0.3s;
}

.sidebar.active .close-btn:hover {
    color: var(--recent-files-color);
}

.sidebar.active button {
    width: calc(100% - 20px);
    background-color: var(--feature-item-background);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar.active button:hover {
    background-color: var(--sidebar-background);
}

/* Sidebar Toggle Button */
.sidebar-toggle-btn {
    display: none;
    font-size: 1.5em;
    background: var(--feature-item-background);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
}

/* Desktop Navigation Styles */
.desktop-nav {
    display: flex;
    gap: 20px;
}

@media (min-width: 769px) {
    .sidebar {
        display: none;
    }

    .sidebar-toggle-btn {
        display: none;
    }

    .desktop-nav {
        display: flex;
    }
}

@media (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sidebar-toggle-btn {
        display: block;
    }

    .desktop-nav {
        display: none;
    }
}

/* Hero Section Styling */
.hero-section {
    width: 100%;
    padding: 60px 20px;
    text-align: center;
    background: var(--header-background);
    color: white;
    display: flex;
    justify-content: space-around;
}

.headline {
    font-size: 2.5em;
    margin-bottom: 20px;
    /* width: 500px; */
}

.sub-headline {
    font-size: 1.2em;
    /* width: 550px; */
    margin-bottom: 40px;
}

/* CTA Button Styling */
.cta-button {
    margin-top: 16px;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: var(--cta-button-background);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
    background-color: var(--cta-button-hover-background);
    transform: scale(1.1);
    
}
.text-slide-in h2, .text-slide-in p {
    transform: translate(-50%, -50%);

    transform: translateX(-30px);
    opacity: 0;
    animation: slideIn 1s forwards;
}

.text-slide-in h2 {
    animation-delay: 0.5s;
}

.text-slide-in p {
    animation-delay: 1s;
}
.text-slide-in span{
    color:#E79E4F;
    font-weight: bolder;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
  

  



/* Features Section */
.features-section {
    width: 100%;
    padding: 60px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--header-background);
    text-align: center;
    color: white;
}

.features-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.features-title {
    font-size: 3em;
    margin-bottom: 80px;
    color: var(--recent-files-color);
}

.features-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.feature-item {
    width: 300px;
    padding: 20px;
    background-color: var(--sidebar-background);
    border: 1px solid #7077A1;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
}

.feature-item h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: var(--background-color);
}

.feature-item p {
    margin: 0;
    font-size: 20px;
}

.feature-item button{
    background-color: var(--recent-files-color);
    /* color: #000; */
    color: var(--text-color);
    font-weight: bold;
}
/* From Uiverse.io by vamsidevendrakumar */ 
/* Light Theme */
.card {
    width: 500px;
    height: 150px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: var(--sidebar-background); /* Primary color */
    color: var(--text-color); /* Tertiary color */
    display: flex;
    align-items: center;
    border: 10px solid var(--header-background); /* Primary color */
    border-radius: 30px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
}

.card-back {
    background-color: var(--cta-button-background); /* Secondary color */
    color: var(--text-color); /* Neutral color */
    display: flex;
    align-items: center;
    border: 10px solid var(--cta-button-background); /* Secondary color */
    border-radius: 10px;
    justify-content: space-between;
    font-size: 24px;
    transform: rotateY(180deg);
    padding: 10px;
}


  
.how-it-works-section {
    width: 100%;
    padding: 60px 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--header-background);
    text-align: center;
    color: white;
}

.section-title {
    font-size: 2rem;
    color: var(--background-color);
    margin-bottom: 1rem;
}

.how-it-works-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    color: #FFFFFF;
}

.step {
    background-color: var(--sidebar-background);
    border-radius: 8px;
    padding: 1rem;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.step h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: var(--background-color);
}

.step p {
    margin: 0;
    font-size: 20px;
    /* color: #333; */
}


/* Testimonials Section */
.testimonials-section {
    width: 100%;
    padding: 40px 20px;
    background: var(--header-background);
}

.testimonials-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: var(--recent-files-color);
}

.testimonial {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 10px;
    background-color: var(--sidebar-background);
    color: white;
    border: 1px solid #7077A1;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    /* color: #FFFFFF/; */
}

.testimonial p {
    margin: 0;
    font-size: 20px;
}

.testimonial span {
    font-weight: bold;
}

/* Footer Styling */
.site-footer {
    background: var(--footer-background);
    padding: 45px 0 20px;
    color: var(--footer-text-color);
}

.site-footer hr {
    border-top: 1px solid #bbb;
    opacity: 0.5;
}

.site-footer h6 {
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 6px;
    letter-spacing: 2px;
}

.site-footer a {
    color: #E2DAD6;
    font-size: 20px;
    text-decoration: none;
}

.site-footer a:hover {
    color: #3366cc;
}

.text-justify {
    font-size: 20px;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
    margin-top: 20px;
}

.footer-links a {
    color: var(--footer-text-color);
}

.footer-links a:hover {
    color: #3366cc;
}

.social-icons {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.social-icons li {
    display: flex;
    margin-bottom: 4px;
}

.social-icons .social-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    border-radius: 50%;
    background-color: #33353d;
    text-align: center;
    color: #818a91;
    font-size: 16px;
    transition: background-color 0.2s, color 0.2s;
}

.social-icons .social-icon:hover {
    color: #fff;
    background-color: #29aafe;
}

.social-icons .facebook:hover {
    background-color: #3b5998;
}

.social-icons .twitter:hover {
    background-color: #00aced;
}

.social-icons .linkedin:hover {
    background-color: #007bb6;
}

.social-icons .dribbble:hover {
    background-color: #ea4c89;
}

.footer-container {
    justify-content: space-around;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col {
    flex: 1;
    padding: 0 15px;
    box-sizing: border-box;
    justify-content: space-between ;
    align-items: left;
    /* margin-left: 20px; */
    margin-bottom: 30px;
}



.copyright-text {
    margin: 0;
    font-size: 20px;
    text-align: center;
    margin-top: 8px;
}

@media (max-width: 767px) {
    .footer-row {
        flex-direction: column;
    }
    .footer-col {
        margin-bottom: 30px;
    }
    .social-icons {
        text-align: center;
    }
}

/* Recent Files Button Styling */
.recent-files {
    --color: var(--recent-files-color);
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 800;
    color: var(--color);
    text-align: center;
    background: transparent;
}

.recent-files:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
    transition: all 0.7s;
}

.recent-files:hover {
    color: var(--recent-files-hover-color);
}

.recent-files:before {
    top: 100%;
    left: 100%;
}

.recent-files:hover:before {
    top: -30px;
    left: -30px;
}
/* From Uiverse.io by andrew-demchenk0 */ 
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }
.footer-links li{
    margin-top: 20px;
}
/* From Uiverse.io by wilsondesouza */ 
/* From Uiverse.io by wilsondesouza */ 
ul {
    list-style: none;
  }
  
  .example-2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }
  